{
	"experimentalTernaries": true,
	"jsxSingleQuote": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"plugins": [
		"prettier-plugin-sh",
		"prettier-plugin-jsdoc",
		"prettier-plugin-sort-json",
		"prettier-plugin-package-perfection",
		"prettier-plugin-classnames",
		"prettier-plugin-sql",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-svelte",
		"prettier-plugin-merge"
	],
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"svelteIndentScriptAndStyle": false,
	"svelteSortOrder": "options-scripts-markup-styles",
	"trailingComma": "all",
	"useTabs": true
}
