@import url('@library/base/base.css');
@import url('@library/base/fontStyle.css');

html {
	font-family: 'IBM Plex Sans KR';
}

*,
*::before,
*::after {
	/* 모든 요소의 애니메이션과 트랜지션 비활성화 */
	animation: none !important;
	transition: none !important;
}