section[datafootnotes] h2 {
  font-size: 0;
  line-height: 0;
  margin: 0;
}

section[datafootnotes] h2::before {
  content: '';
  display: block;
  height: var(--border-size-2);
  background-color: var(--surface-3);
  margin-block: var(--space-cqi-m-l);
}