:root {
	text-size-adjust: 100%;
	color-scheme: light dark;
}

html {
	container: inline-size;
}

body {
	position: relative;
	inset: 0;

	container: body / inline-size;
	overflow: auto;

	inline-size: 100svi;
	block-size: 100svb;

	font-size: var(--font-size-0);
}

*,
*::before,
*::after {
	overscroll-behavior: contain;

	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: var(--font-lineheight-3);
	text-wrap: stable;
	/* stylelint-disable-next-line value-keyword-case */
	text-rendering: optimizeLegibility;
	word-break: keep-all;
	line-break: strict;
	overflow-wrap: break-word;
}

button {
	cursor: pointer;
	user-select: none;

	position: relative;

	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	inline-size: fit-content;
	max-inline-size: min(100%, 100cqi);
	padding: max(0.5em, 0.5rem) max(1.5em, 1.5rem);

	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	white-space: nowrap;
	vertical-align: middle;

	appearance: button;

	&:active,
	&:hover {
		opacity: 0.7;
	}

	&:focus {
		z-index: 1;
		outline: var(--size-1) dashed var(--gray-5);
		outline-offset: var(--size-1);
	}
}

div {
	color: inherit;
	outline: var(--size-1) solid transparent;
	outline-offset: calc(-1 * var(--size-1));
}

p {
	max-inline-size: var(--size-content-4);
}

img {
	max-inline-size: 100%;
	object-fit: cover;
}

a {
	hyphens: none;
	overflow-wrap: anywhere;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: var(--font-lineheight-1);
	text-wrap: balance;
}

[id] {
	scroll-margin-block-start: var(--font-size-5);
}

/* Scrollbar */

@container (max-width: 30ch) {
	::-webkit-scrollbar-button:horizontal {
		display: none;
	}
}

@container (max-height: 30ex) {
	::-webkit-scrollbar-button:vertical {
		display: none;
	}
}

@container (max-width: 15ch) {
	* {
		scrollbar-width: thin;
	}

	::-webkit-scrollbar {
		/* stylelint-disable-next-line plugin/use-logical-properties-and-values */
		width: 1ch;
	}
}

@container (max-height: 15ex) {
	* {
		scrollbar-width: thin;
	}

	::-webkit-scrollbar {
		/* stylelint-disable-next-line plugin/use-logical-properties-and-values */
		height: 1ex;
	}
}
