html {
	position: relative;

	container: root / inline-size;
	overflow: hidden;

	block-size: 100svb;

	font-size: var(--font-size-fluid-1);
	font-weight: 450;
	line-height: var(--font-lineheight-4);
	color: var(--foreground);
	text-wrap: stable;
	text-size-adjust: 100%;
	text-rendering: optimizelegibility;
	word-break: keep-all;
	line-break: strict;
	overflow-wrap: break-word;
	white-space: normal;

	color-scheme: light dark;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	max-inline-size: 100svi;
	min-block-size: 100%;
	margin: 0;
	background-color: var(--background);
}

*,
*::before,
*::after {
	overscroll-behavior: contain;
	box-sizing: border-box;
}

@layer base {
	:where(*, *::before, *::after) {
		color: inherit;
	}
}

*:focus,
label:focus-within {
	z-index: var(--layer-important);
	outline: 4px dashed var(--gray-6);
	outline-offset: 2px;
}

label > input:focus {
	outline: none;
}

*:target {
	z-index: var(--layer-important);
	outline: 4px solid var(--gray-8);
	outline-offset: 2px;
}

button,
*[type='button'],
*[role='button'] {
	cursor: pointer;
	user-select: none;

	position: relative;

	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	inline-size: fit-content;
	padding: max(0.5em, 0.5rem) max(1.5em, 1.5rem);

	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	white-space: nowrap;
	vertical-align: middle;

	appearance: auto;

	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 0.2s;
	transition-property: color, background-color, border-color, box-shadow, opacity;

	&:disabled {
		z-index: -1;
	}

	&:hover,
	&.hoverButton {
		opacity: 0.68;
	}

	&:active,
	&.activeButton {
		opacity: 1;
		transition-duration: 0.1s;
	}
}

a,
.interactive,
input[type='checkbox'],
input[type='radio'] {
	cursor: pointer;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 0.2s;
	transition-property: opacity;

	&:hover {
		opacity: 0.68;
	}

	&:active {
		opacity: 1;
		transition-duration: 0.1s;
	}
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='url'],
input[name*='cc-'],
input[name='id'],
pre,
kbd,
.ltr {
	direction: ltr;
	/* stylelint-disable-next-line plugin/use-logical-properties-and-values */
	text-align: left;
}

:where(div) {
	color: inherit;
	outline: var(--size-1) solid transparent;
	outline-offset: calc(-1 * var(--size-1));
}

ol,
ul,
dl {
	/* open-props/normalize 스타일 덮어쓰기 */
	font-size: 1em;
}

ol,
ul {
	margin-inline: 1ch;
	margin-inline-start: 2ch;
}

.contains-task-list {
	margin-inline: 0;
	list-style: none;

	& input[type='checkbox'] {
		margin-inline-end: 1ch;
	}
}

img {
	max-inline-size: 100%;
	object-fit: cover;
}

a {
	hyphens: none;
	overflow-wrap: anywhere;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	max-inline-size: initial;

	font-size: var(--font-size-1);
	line-height: var(--font-lineheight-1);
	hyphens: none;
	text-wrap: balance;
}

h1 {
	margin-block: var(--space-em-cqi-2xs-xs);
	font-size: var(--font-size-fluid-em-cqi-1);
	font-weight: var(--font-weight-9);
}

h2 {
	margin-block: var(--space-em-cqi-3xs-2xs);
	font-size: var(--font-size-fluid-em-cqi-0p6);
	font-weight: var(--font-weight-8);
}

h3 {
	margin-block: var(--space-em-cqi-3xs);
	font-weight: var(--font-weight-7);
}

h4,
h5,
h6 {
	font-weight: var(--font-weight-6);
}

[id] {
	scroll-margin-block-start: var(--font-size-fluid-em-cqi-5);
}

code {
	padding: 0;
}

blockquote {
	max-inline-size: 80%;
	padding: var(--space-em-cqi-s-l);

	font-size: var(--font-size-fluid-em-cqi-0);
	line-height: var(--font-lineheight-1);

	background-color: var(--surface-1);

	& * {
		font-size: inherit !important;
	}
}

/* Scrollbar */

@media (forced-colors: none) {
	/* 1. 모든 브라우저에 적용되는 기본 스타일 */
	* {
		scrollbar-color: color-mix(in oklch, currentcolor 35%, transparent) transparent;
	}

	/* 4. Firefox용 컨테이너 쿼리 */
	@container (max-width: 30ch) {
		* {
			scrollbar-width: thin;
		}
	}
	/* 2. WebKit 계열 브라우저 전용 스타일 */
	@supports (-webkit-appearance: none) and (not (-moz-appearance: none)) {
		* {
			scrollbar-color: initial; /* 웹킷 스크롤바 활성화 */
		}

		::-webkit-scrollbar {
			inline-size: 1ch;
			block-size: 1ex;
		}

		::-webkit-scrollbar-thumb {
			background-color: color-mix(in oklch, currentcolor 30%, transparent);
		}

		/* stylelint-disable-next-line csstools/use-nesting */
		::-webkit-scrollbar-thumb:hover {
			background-color: color-mix(in oklch, currentcolor 60%, transparent);
		}
		/* stylelint-disable-next-line csstools/use-nesting */
		::-webkit-scrollbar-thumb:active {
			background-color: color-mix(in oklch, currentcolor 90%, transparent);
		}

		::-webkit-scrollbar-track {
			background-color: transparent;
		}

		/* 3. 컨테이너 쿼리 대응 */
		@container (max-width: 40ch) {
			::-webkit-scrollbar {
				/* stylelint-disable-next-line plugin/use-logical-properties-and-values */
				width: 0.5ch;
			}
		}

		@container (max-height: 40ex) {
			::-webkit-scrollbar {
				/* stylelint-disable-next-line plugin/use-logical-properties-and-values */
				height: 0.5ex;
			}
		}
	}
}

/* stylelint-disable-next-line selector-type-no-unknown */
mermaid {
	display: none;
}

sup {
	font-size: 0.7em;
}
