/* Open Props variables 덮어쓰기 Or 확장 */
body {
	--size-content-4: 90ch;
	--radius-2-5: 0.5rem;
}

:root {
	/* Space 3xs: 5px → 5px */
	--space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
	/* Space 2xs: 9px → 10px */
	--space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
	/* Space xs: 14px → 15px */
	--space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
	/* Space s: 18px → 20px */
	--space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
	/* Space m: 27px → 30px */
	--space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
	/* Space l: 36px → 40px */
	--space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
	/* Space xl: 54px → 60px */
	--space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
	/* Space 2xl: 72px → 80px */
	--space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
	/* Space 3xl: 108px → 120px */
	--space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

	/* One-up pairs */
	/* Space 3xs-2xs: 5px → 10px */
	--space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
	/* Space 2xs-xs: 9px → 15px */
	--space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
	/* Space xs-s: 14px → 20px */
	--space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
	/* Space s-m: 18px → 30px */
	--space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
	/* Space m-l: 27px → 40px */
	--space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
	/* Space l-xl: 36px → 60px */
	--space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
	/* Space xl-2xl: 54px → 80px */
	--space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
	/* Space 2xl-3xl: 72px → 120px */
	--space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);

	/* Custom pairs */
	/* Space s-l: 18px → 40px */
	--space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);
}

:root {
	/* space-cqi 3xs: 5px → 5px */
	--space-cqi-3xs: clamp(0.3125rem, 0.3125rem + 0cqi, 0.3125rem);
	/* space-cqi 2xs: 9px → 10px */
	--space-cqi-2xs: clamp(0.5625rem, 0.5408rem + 0.1087cqi, 0.625rem);
	/* space-cqi xs: 14px → 15px */
	--space-cqi-xs: clamp(0.875rem, 0.8533rem + 0.1087cqi, 0.9375rem);
	/* space-cqi s: 18px → 20px */
	--space-cqi-s: clamp(1.125rem, 1.0815rem + 0.2174cqi, 1.25rem);
	/* space-cqi m: 27px → 30px */
	--space-cqi-m: clamp(1.6875rem, 1.6223rem + 0.3261cqi, 1.875rem);
	/* space-cqi l: 36px → 40px */
	--space-cqi-l: clamp(2.25rem, 2.163rem + 0.4348cqi, 2.5rem);
	/* space-cqi xl: 54px → 60px */
	--space-cqi-xl: clamp(3.375rem, 3.2446rem + 0.6522cqi, 3.75rem);
	/* space-cqi 2xl: 72px → 80px */
	--space-cqi-2xl: clamp(4.5rem, 4.3261rem + 0.8696cqi, 5rem);
	/* space-cqi 3xl: 108px → 120px */
	--space-cqi-3xl: clamp(6.75rem, 6.4891rem + 1.3043cqi, 7.5rem);

	/* One-up pairs */
	/* space-cqi 3xs-2xs: 5px → 10px */
	--space-cqi-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435cqi, 0.625rem);
	/* space-cqi 2xs-xs: 9px → 15px */
	--space-cqi-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522cqi, 0.9375rem);
	/* space-cqi xs-s: 14px → 20px */
	--space-cqi-xs-s: clamp(0.875rem, 0.7446rem + 0.6522cqi, 1.25rem);
	/* space-cqi s-m: 18px → 30px */
	--space-cqi-s-m: clamp(1.125rem, 0.8641rem + 1.3043cqi, 1.875rem);
	/* space-cqi m-l: 27px → 40px */
	--space-cqi-m-l: clamp(1.6875rem, 1.4049rem + 1.413cqi, 2.5rem);
	/* space-cqi l-xl: 36px → 60px */
	--space-cqi-l-xl: clamp(2.25rem, 1.7283rem + 2.6087cqi, 3.75rem);
	/* space-cqi xl-2xl: 54px → 80px */
	--space-cqi-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261cqi, 5rem);
	/* space-cqi 2xl-3xl: 72px → 120px */
	--space-cqi-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174cqi, 7.5rem);

	/* Custom pairs */
	/* space-cqi s-l: 18px → 40px */
	--space-cqi-s-l: clamp(1.125rem, 0.6467rem + 2.3913cqi, 2.5rem);
}

:root {
	/* space-em-cqi 3xs: 5px → 5px */
	--space-em-cqi-3xs: clamp(0.3125em, 0.3125em + 0cqi, 0.3125em);
	/* space-em-cqi 2xs: 9px → 10px */
	--space-em-cqi-2xs: clamp(0.5625em, 0.5408em + 0.1087cqi, 0.625em);
	/* space-em-cqi xs: 14px → 15px */
	--space-em-cqi-xs: clamp(0.875em, 0.8533em + 0.1087cqi, 0.9375em);
	/* space-em-cqi s: 18px → 20px */
	--space-em-cqi-s: clamp(1.125em, 1.0815em + 0.2174cqi, 1.25em);
	/* space-em-cqi m: 27px → 30px */
	--space-em-cqi-m: clamp(1.6875em, 1.6223em + 0.3261cqi, 1.875em);
	/* space-em-cqi l: 36px → 40px */
	--space-em-cqi-l: clamp(2.25em, 2.163em + 0.4348cqi, 2.5em);
	/* space-em-cqi xl: 54px → 60px */
	--space-em-cqi-xl: clamp(3.375em, 3.2446em + 0.6522cqi, 3.75em);
	/* space-em-cqi 2xl: 72px → 80px */
	--space-em-cqi-2xl: clamp(4.5em, 4.3261em + 0.8696cqi, 5em);
	/* space-em-cqi 3xl: 108px → 120px */
	--space-em-cqi-3xl: clamp(6.75em, 6.4891em + 1.3043cqi, 7.5em);

	/* One-up pairs */
	/* space-em-cqi 3xs-2xs: 5px → 10px */
	--space-em-cqi-3xs-2xs: clamp(0.3125em, 0.2038em + 0.5435cqi, 0.625em);
	/* space-em-cqi 2xs-xs: 9px → 15px */
	--space-em-cqi-2xs-xs: clamp(0.5625em, 0.4321em + 0.6522cqi, 0.9375em);
	/* space-em-cqi xs-s: 14px → 20px */
	--space-em-cqi-xs-s: clamp(0.875em, 0.7446em + 0.6522cqi, 1.25em);
	/* space-em-cqi s-m: 18px → 30px */
	--space-em-cqi-s-m: clamp(1.125em, 0.8641em + 1.3043cqi, 1.875em);
	/* space-em-cqi m-l: 27px → 40px */
	--space-em-cqi-m-l: clamp(1.6875em, 1.4049em + 1.413cqi, 2.5em);
	/* space-em-cqi l-xl: 36px → 60px */
	--space-em-cqi-l-xl: clamp(2.25em, 1.7283em + 2.6087cqi, 3.75em);
	/* space-em-cqi xl-2xl: 54px → 80px */
	--space-em-cqi-xl-2xl: clamp(3.375em, 2.8098em + 2.8261cqi, 5em);
	/* space-em-cqi 2xl-3xl: 72px → 120px */
	--space-em-cqi-2xl-3xl: clamp(4.5em, 3.4565em + 5.2174cqi, 7.5em);

	/* Custom pairs */
	/* space-em-cqi s-l: 18px → 40px */
	--space-em-cqi-s-l: clamp(1.125em, 0.6467em + 2.3913cqi, 2.5em);
}

:root {
	/* Step -2: 9.7222px → 10.24px */
	--font-size-fluid-02: clamp(0.6076rem, 0.5964rem + 0.0563vi, 0.64rem);
	/* Step -1: 11.6667px → 12.8px */
	--font-size-fluid-01: clamp(0.7292rem, 0.7045rem + 0.1232vi, 0.8rem);
	/* Step 0: 14px → 16px */
	--font-size-fluid-0: clamp(0.875rem, 0.8315rem + 0.2174vi, 1rem);
	/* Step 0.33: 14.93px → 17.33px */
	--font-size-fluid-0p3: clamp(1rem, 0.8811rem + 0.2609vi, 1.0833rem);
	/* Step 0.66: 15.87px → 18.67px */
	--font-size-fluid-0p6: clamp(1rem, 0.9308rem + 0.3043vi, 1.1667rem);
	/* Step 1: 16.8px → 20px */
	--font-size-fluid-1: clamp(1.05rem, 0.9804rem + 0.3478vi, 1.25rem);
	/* Step 2: 20.16px → 25px */
	--font-size-fluid-2: clamp(1.26rem, 1.1548rem + 0.5261vi, 1.5625rem);
	/* Step 3: 24.192px → 31.25px */
	--font-size-fluid-3: clamp(1.512rem, 1.3586rem + 0.7672vi, 1.9531rem);
	/* Step 4: 29.0304px → 39.0625px */
	--font-size-fluid-4: clamp(1.8144rem, 1.5963rem + 1.0904vi, 2.4414rem);
	/* Step 5: 34.8365px → 48.8281px */
	--font-size-fluid-5: clamp(2.1773rem, 1.8731rem + 1.5208vi, 3.0518rem);
}

:root {
	/* Step -2: 9.7222px → 10.24px */
	--font-size-fluid-cqi-02: clamp(0.6076rem, 0.5964rem + 0.0563cqi, 0.64rem);
	/* Step -1: 11.6667px → 12.8px */
	--font-size-fluid-cqi-01: clamp(0.7292rem, 0.7045rem + 0.1232cqi, 0.8rem);
	/* Step 0: 14px → 16px */
	--font-size-fluid-cqi-0: clamp(0.875rem, 0.8315rem + 0.2174cqi, 1rem);
	/* Step 0.33: 14.93px → 17.33px */
	--font-size-fluid-cqi-0p3: clamp(1rem, 0.8811rem + 0.2609cqi, 1.0833rem);
	/* Step 0.66: 15.87px → 18.67px */
	--font-size-fluid-cqi-0p6: clamp(1rem, 0.9308rem + 0.3043cqi, 1.1667rem);
	/* Step 1: 16.8px → 20px */
	--font-size-fluid-cqi-1: clamp(1.05rem, 0.9804rem + 0.3478cqi, 1.25rem);
	/* Step 2: 20.16px → 25px */
	--font-size-fluid-cqi-2: clamp(1.26rem, 1.1548rem + 0.5261cqi, 1.5625rem);
	/* Step 3: 24.192px → 31.25px */
	--font-size-fluid-cqi-3: clamp(1.512rem, 1.3586rem + 0.7672cqi, 1.9531rem);
	/* Step 4: 29.0304px → 39.0625px */
	--font-size-fluid-cqi-4: clamp(1.8144rem, 1.5963rem + 1.0904cqi, 2.4414rem);
	/* Step 5: 34.8365px → 48.8281px */
	--font-size-fluid-cqi-5: clamp(2.1773rem, 1.8731rem + 1.5208cqi, 3.0518rem);
}

:root {
	/* Step -2: 9.7222px → 10.24px */
	--font-size-fluid-em-cqi-02: clamp(0.6076em, 0.5964em + 0.0563cqi, 0.64em);
	/* Step -1: 11.6667px → 12.8px */
	--font-size-fluid-em-cqi-01: clamp(0.7292em, 0.7045em + 0.1232cqi, 0.8em);
	/* Step 0: 14px → 16px */
	--font-size-fluid-em-cqi-0: clamp(0.875em, 0.8315em + 0.2174cqi, 1em);
	/* Step 0.33: 14.93px → 17.33px */
	--font-size-fluid-em-cqi-0p3: clamp(1em, 0.8811em + 0.2609cqi, 1.0833em);
	/* Step 0.66: 15.87px → 18.67px */
	--font-size-fluid-em-cqi-0p6: clamp(1em, 0.9308em + 0.3043cqi, 1.1667em);
	/* Step 1: 16.8px → 20px */
	--font-size-fluid-em-cqi-1: clamp(1.05em, 0.9804em + 0.3478cqi, 1.25em);
	/* Step 2: 20.16px → 25px */
	--font-size-fluid-em-cqi-2: clamp(1.26em, 1.1548em + 0.5261cqi, 1.5625em);
	/* Step 3: 24.192px → 31.25px */
	--font-size-fluid-em-cqi-3: clamp(1.512em, 1.3586em + 0.7672cqi, 1.9531em);
	/* Step 4: 29.0304px → 39.0625px */
	--font-size-fluid-em-cqi-4: clamp(1.8144em, 1.5963em + 1.0904cqi, 2.4414em);
	/* Step 5: 34.8365px → 48.8281px */
	--font-size-fluid-em-cqi-5: clamp(2.1773em, 1.8731em + 1.5208cqi, 3.0518em);
}

/* 다크 테마일 때 색깔 변수 거꾸로 매핑 */
.dark {
	--gray-12: rgb(248 249 250);
	--gray-11: rgb(241 243 245);
	--gray-10: rgb(233 236 239);
	--gray-9: rgb(222 226 230);
	--gray-8: rgb(206 212 218);
	--gray-7: rgb(173 181 189);
	--gray-6: rgb(134 142 150);
	--gray-5: rgb(73 80 87);
	--gray-4: rgb(52 58 64);
	--gray-3: rgb(33 37 41);
	--gray-2: rgb(22 25 29);
	--gray-1: rgb(13 15 18);
	--gray-0: rgb(3 5 7);

	/* --sand-n의 값들  */
	/* --gray-12: rgb(248 250 251);
	--gray-11: rgb(230 228 220);
	--gray-10: rgb(213 207 189);
	--gray-9: rgb(194 185 160);
	--gray-8: rgb(174 165 140);
	--gray-7: rgb(154 145 120);
	--gray-6: rgb(134 124 101);
	--gray-5: rgb(115 106 83);
	--gray-4: rgb(95 87 70);
	--gray-3: rgb(75 70 57);
	--gray-2: rgb(56 53 45);
	--gray-1: rgb(37 37 33);
	--gray-0: rgb(18 18 16); */

	--stone-12: rgb(248 250 251);
	--stone-11: rgb(242 244 246);
	--stone-10: rgb(235 237 239);
	--stone-9: rgb(224 228 229);
	--stone-8: rgb(209 214 216);
	--stone-7: rgb(177 182 185);
	--stone-6: rgb(151 155 157);
	--stone-5: rgb(126 130 130);
	--stone-4: rgb(102 105 104);
	--stone-3: rgb(80 81 79);
	--stone-2: rgb(58 58 55);
	--stone-1: rgb(37 37 33);
	--stone-0: rgb(18 18 16);
	--red-12: rgb(255 245 245);
	--red-11: rgb(255 227 227);
	--red-10: rgb(255 201 201);
	--red-9: rgb(255 168 168);
	--red-8: rgb(255 135 135);
	--red-7: rgb(255 107 107);
	--red-6: rgb(250 82 82);
	--red-5: rgb(240 62 62);
	--red-4: rgb(224 49 49);
	--red-3: rgb(201 42 42);
	--red-2: rgb(176 37 37);
	--red-1: rgb(150 32 32);
	--red-0: rgb(125 26 26);
	--pink-12: rgb(255 240 246);
	--pink-11: rgb(255 222 235);
	--pink-10: rgb(252 194 215);
	--pink-9: rgb(250 162 193);
	--pink-8: rgb(247 131 172);
	--pink-7: rgb(240 101 149);
	--pink-6: rgb(230 73 128);
	--pink-5: rgb(214 51 108);
	--pink-4: rgb(194 37 92);
	--pink-3: rgb(166 30 77);
	--pink-2: rgb(140 25 65);
	--pink-1: rgb(115 21 54);
	--pink-0: rgb(89 16 42);
	--purple-12: rgb(248 240 252);
	--purple-11: rgb(243 217 250);
	--purple-10: rgb(238 190 250);
	--purple-9: rgb(229 153 247);
	--purple-8: rgb(218 119 242);
	--purple-7: rgb(204 93 232);
	--purple-6: rgb(190 75 219);
	--purple-5: rgb(174 62 201);
	--purple-4: rgb(156 54 181);
	--purple-3: rgb(134 46 156);
	--purple-2: rgb(112 38 130);
	--purple-1: rgb(90 30 105);
	--purple-0: rgb(68 23 79);
	--violet-12: rgb(243 240 255);
	--violet-11: rgb(229 219 255);
	--violet-10: rgb(208 191 255);
	--violet-9: rgb(177 151 252);
	--violet-8: rgb(151 117 250);
	--violet-7: rgb(132 94 247);
	--violet-6: rgb(121 80 242);
	--violet-5: rgb(112 72 232);
	--violet-4: rgb(103 65 217);
	--violet-3: rgb(95 61 196);
	--violet-2: rgb(82 53 171);
	--violet-1: rgb(70 45 145);
	--violet-0: rgb(58 37 120);
	--indigo-12: rgb(237 242 255);
	--indigo-11: rgb(219 228 255);
	--indigo-10: rgb(186 200 255);
	--indigo-9: rgb(145 167 255);
	--indigo-8: rgb(116 143 252);
	--indigo-7: rgb(92 124 250);
	--indigo-6: rgb(76 110 245);
	--indigo-5: rgb(66 99 235);
	--indigo-4: rgb(59 91 219);
	--indigo-3: rgb(54 79 199);
	--indigo-2: rgb(47 68 173);
	--indigo-1: rgb(40 58 148);
	--indigo-0: rgb(33 48 122);
	--blue-12: rgb(231 245 255);
	--blue-11: rgb(208 235 255);
	--blue-10: rgb(165 216 255);
	--blue-9: rgb(116 192 252);
	--blue-8: rgb(77 171 247);
	--blue-7: rgb(51 154 240);
	--blue-6: rgb(34 139 230);
	--blue-5: rgb(28 126 214);
	--blue-4: rgb(25 113 194);
	--blue-3: rgb(24 100 171);
	--blue-2: rgb(20 85 145);
	--blue-1: rgb(17 70 120);
	--blue-0: rgb(13 55 94);
	--cyan-12: rgb(227 250 252);
	--cyan-11: rgb(197 246 250);
	--cyan-10: rgb(153 233 242);
	--cyan-9: rgb(102 217 232);
	--cyan-8: rgb(59 201 219);
	--cyan-7: rgb(34 184 207);
	--cyan-6: rgb(21 170 191);
	--cyan-5: rgb(16 152 173);
	--cyan-4: rgb(12 133 153);
	--cyan-3: rgb(11 114 133);
	--cyan-2: rgb(9 92 107);
	--cyan-1: rgb(7 70 82);
	--cyan-0: rgb(5 48 56);
	--teal-12: rgb(230 252 245);
	--teal-11: rgb(195 250 232);
	--teal-10: rgb(150 242 215);
	--teal-9: rgb(99 230 190);
	--teal-8: rgb(56 217 169);
	--teal-7: rgb(32 201 151);
	--teal-6: rgb(18 184 134);
	--teal-5: rgb(12 166 120);
	--teal-4: rgb(9 146 104);
	--teal-3: rgb(8 127 91);
	--teal-2: rgb(6 102 73);
	--teal-1: rgb(5 77 55);
	--teal-0: rgb(3 51 37);
	--green-12: rgb(235 251 238);
	--green-11: rgb(211 249 216);
	--green-10: rgb(178 242 187);
	--green-9: rgb(140 233 154);
	--green-8: rgb(105 219 124);
	--green-7: rgb(81 207 102);
	--green-6: rgb(64 192 87);
	--green-5: rgb(55 178 77);
	--green-4: rgb(47 158 68);
	--green-3: rgb(43 138 62);
	--green-2: rgb(35 112 50);
	--green-1: rgb(27 87 39);
	--green-0: rgb(19 61 27);
	--lime-12: rgb(244 252 227);
	--lime-11: rgb(233 250 200);
	--lime-10: rgb(216 245 162);
	--lime-9: rgb(192 235 117);
	--lime-8: rgb(169 227 75);
	--lime-7: rgb(148 216 45);
	--lime-6: rgb(130 201 30);
	--lime-5: rgb(116 184 22);
	--lime-4: rgb(102 168 15);
	--lime-3: rgb(92 148 13);
	--lime-2: rgb(76 122 11);
	--lime-1: rgb(60 97 9);
	--lime-0: rgb(44 71 6);
	--yellow-12: rgb(255 249 219);
	--yellow-11: rgb(255 243 191);
	--yellow-10: rgb(255 236 153);
	--yellow-9: rgb(255 224 102);
	--yellow-8: rgb(255 212 59);
	--yellow-7: rgb(252 196 25);
	--yellow-6: rgb(250 176 5);
	--yellow-5: rgb(245 159 0);
	--yellow-4: rgb(240 140 0);
	--yellow-3: rgb(230 119 0);
	--yellow-2: rgb(179 92 0);
	--yellow-1: rgb(128 66 0);
	--yellow-0: rgb(102 53 0);
	--orange-12: rgb(255 244 230);
	--orange-11: rgb(255 232 204);
	--orange-10: rgb(255 216 168);
	--orange-9: rgb(255 192 120);
	--orange-8: rgb(255 169 77);
	--orange-7: rgb(255 146 43);
	--orange-6: rgb(253 126 20);
	--orange-5: rgb(247 103 7);
	--orange-4: rgb(232 89 12);
	--orange-3: rgb(217 72 15);
	--orange-2: rgb(191 64 13);
	--orange-1: rgb(153 51 11);
	--orange-0: rgb(128 43 9);
	--choco-12: rgb(255 248 220);
	--choco-11: rgb(252 225 188);
	--choco-10: rgb(247 202 158);
	--choco-9: rgb(241 178 128);
	--choco-8: rgb(233 155 98);
	--choco-7: rgb(223 133 69);
	--choco-6: rgb(212 110 37);
	--choco-5: rgb(189 95 27);
	--choco-4: rgb(164 81 23);
	--choco-3: rgb(138 69 19);
	--choco-2: rgb(112 58 19);
	--choco-1: rgb(87 47 18);
	--choco-0: rgb(61 33 13);
	--brown-12: rgb(250 244 235);
	--brown-11: rgb(237 224 209);
	--brown-10: rgb(224 202 183);
	--brown-9: rgb(211 183 158);
	--brown-8: rgb(197 162 133);
	--brown-7: rgb(183 143 109);
	--brown-6: rgb(168 124 86);
	--brown-5: rgb(149 107 71);
	--brown-4: rgb(130 91 58);
	--brown-3: rgb(111 75 45);
	--brown-2: rgb(94 58 33);
	--brown-1: rgb(78 43 21);
	--brown-0: rgb(66 36 18);
	--sand-12: rgb(248 250 251);
	--sand-11: rgb(230 228 220);
	--sand-10: rgb(213 207 189);
	--sand-9: rgb(194 185 160);
	--sand-8: rgb(174 165 140);
	--sand-7: rgb(154 145 120);
	--sand-6: rgb(134 124 101);
	--sand-5: rgb(115 106 83);
	--sand-4: rgb(95 87 70);
	--sand-3: rgb(75 70 57);
	--sand-2: rgb(56 53 45);
	--sand-1: rgb(37 37 33);
	--sand-0: rgb(18 18 16);
	--camo-12: rgb(249 251 231);
	--camo-11: rgb(232 237 156);
	--camo-10: rgb(210 223 78);
	--camo-9: rgb(194 206 52);
	--camo-8: rgb(181 187 46);
	--camo-7: rgb(167 168 39);
	--camo-6: rgb(153 150 33);
	--camo-5: rgb(140 133 28);
	--camo-4: rgb(126 116 22);
	--camo-3: rgb(109 100 20);
	--camo-2: rgb(93 84 17);
	--camo-1: rgb(77 70 14);
	--camo-0: rgb(54 48 10);
	--jungle-12: rgb(236 254 176);
	--jungle-11: rgb(222 243 154);
	--jungle-10: rgb(208 232 132);
	--jungle-9: rgb(194 221 110);
	--jungle-8: rgb(181 209 91);
	--jungle-7: rgb(168 198 72);
	--jungle-6: rgb(155 187 54);
	--jungle-5: rgb(143 176 36);
	--jungle-4: rgb(132 165 19);
	--jungle-3: rgb(122 153 8);
	--jungle-2: rgb(101 128 6);
	--jungle-1: rgb(81 102 5);
	--jungle-0: rgb(61 77 4);

	/* 시맨틱 변수 추가 */
	--link: var(--indigo-7);
	--link-visited: var(--purple-7);
	--text-1: var(--gray-12);
	--text-2: var(--gray-7);
	--surface-1: var(--gray-0);
	--surface-2: var(--gray-2);
	--surface-3: var(--gray-3);
	--surface-4: var(--gray-4);
	--scrollthumb-color: var(--gray-7);
}
