@plugin 'daisyui';


.toggle {
	&:hover {
		opacity: 0.68;
	}

	&:active {
		opacity: 1;
	}
}

.join:not(.join-vertical) > * + * {
	position: relative;
	inset-inline-end: var(--border-size-2);
}

.join.join-vertical > * + * {
	position: relative;
	inset-block-end: var(--border-size-2);
}

/* 설정할 수 있는 variable들: https://daisyui.com/docs/utilities/#component-specific-css-variables */

:root {
	--fontsize: 1rem;
	--border-size-1: 1px;

	--radius-selector: var(--radius-1);
	--radius-field: var(--radius-1);
	--radius-box: var(--radius-1);
	--size-selector: var(--size-1);
	--size-field: var(--size-1);
	/* --border: var(--border-size-1); - tailwind.css와 중복. 이거 대신 daisyui는 border-width 일일이 설정해줘야 함  */
	--depth: 1;
	--noise: 0;
	--rounded-box: var(--radius-3);
	--rounded-btn: var(--radius-2-5);
	--rounded-badge: var(--radius-4);
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-focus-scale: 0.95;
	--border-btn: var(--border-size-1);
	--tab-border: var(--border-size-1);
	--tab-radius: var(--radius-1);
}

:root {
	--color-base-100: var(--background);
	--color-base-200: var(--gray-4);
	--color-base-300: var(--gray-6);
	--color-base-content: var(--foreground);

	--color-primary: var(--primary);
	--color-primary-content: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-content: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-content: var(--accent-foreground);

	--color-neutral: var(--gray-6);
	--color-neutral-content: var(--foreground);
	--color-info: var(--blue-6);
	--color-info-content: var(--foreground);
	--color-success: var(--green-6);
	--color-success-content: var(--foreground);
	--color-warning: var(--orange-6);
	--color-warning-content: var(--foreground);
	--color-error: var(--destructive);
	--color-error-content: var(--destructive-foreground);
}

.dark {
	--noise: 1;
}
