@font-face {
	font-family: 'IBM Plex Sans';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url('@repo/base/assets/fonts/IBMPlexSansVar-Roman.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url('@repo/base/assets/fonts/IBMPlexSansVar-Italic.woff2') format('woff2-variations');
}

:root {
	--default-font-family: 'IBM Plex Sans';

	font-family: var(--default-font-family);
	font-feature-settings: 'ss02', 'ss03';
	text-size-adjust: 100%;
	color-scheme: light dark;
}
