@font-face {
	font-family: 'IBM Plex Sans';
	font-feature-settings: 'ss02';
	font-weight: 100 700;
	font-style: normal;

	font-display: swap;
	src:
		url('../static/fonts/IBMPlexSansVar-Roman.woff2') format('woff2-variations'),
		url('../static/fonts/IBMPlexSansVar-Roman.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-feature-settings: 'ss02';
	font-weight: 100 700;
	font-style: italic;

	font-display: swap;
	src:
		url('../static/fonts/IBMPlexSansVar-Italic.woff2') format('woff2-variations'),
		url('../static/fonts/IBMPlexSansVar-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-feature-settings: 'ss02';
	font-weight: 700; /* Bold */
	font-style: normal;

	font-display: swap;
	/* hinted font: 저해상도에서의 가독성 우선 */
	src: url('../static/fonts/IBMPlexSansKR-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-feature-settings: 'ss02';
	font-weight: 200; /* ExtraLight */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansKR-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-feature-settings: 'ss02';
	font-weight: 300; /* Light */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansKR-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-feature-settings: 'ss02';
	font-weight: 500; /* Medium */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansKR-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansKR-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-feature-settings: 'ss02';
	font-weight: 600; /* SemiBold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansKR-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-feature-settings: 'ss02';
	font-weight: 450; /* Text */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansKR-Text.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-feature-settings: 'ss02';
	font-weight: 100; /* Thin */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansKR-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Arabic';
	font-feature-settings: 'ss02';
	font-weight: 700; /* Bold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansArabic-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Arabic';
	font-feature-settings: 'ss02';
	font-weight: 200; /* ExtraLight */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansArabic-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Arabic';
	font-feature-settings: 'ss02';
	font-weight: 300; /* Light */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansArabic-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Arabic';
	font-feature-settings: 'ss02';
	font-weight: 500; /* Medium */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansArabic-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Arabic';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansArabic-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Arabic';
	font-feature-settings: 'ss02';
	font-weight: 600; /* SemiBold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansArabic-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Arabic';
	font-feature-settings: 'ss02';
	font-weight: 450; /* Text */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansArabic-Text.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Arabic';
	font-feature-settings: 'ss02';
	font-weight: 100; /* Thin */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansArabic-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Devanagari';
	font-feature-settings: 'ss02';
	font-weight: 700; /* Bold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansDevanagari-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Devanagari';
	font-feature-settings: 'ss02';
	font-weight: 200; /* ExtraLight */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansDevanagari-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Devanagari';
	font-feature-settings: 'ss02';
	font-weight: 300; /* Light */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansDevanagari-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Devanagari';
	font-feature-settings: 'ss02';
	font-weight: 500; /* Medium */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansDevanagari-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Devanagari';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansDevanagari-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Devanagari';
	font-feature-settings: 'ss02';
	font-weight: 600; /* SemiBold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansDevanagari-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Devanagari';
	font-feature-settings: 'ss02';
	font-weight: 450; /* Text */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansDevanagari-Text.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Devanagari';
	font-feature-settings: 'ss02';
	font-weight: 100; /* Thin */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansDevanagari-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Hebrew';
	font-feature-settings: 'ss02';
	font-weight: 700; /* Bold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansHebrew-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Hebrew';
	font-feature-settings: 'ss02';
	font-weight: 200; /* ExtraLight */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansHebrew-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Hebrew';
	font-feature-settings: 'ss02';
	font-weight: 300; /* Light */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansHebrew-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Hebrew';
	font-feature-settings: 'ss02';
	font-weight: 500; /* Medium */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansHebrew-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Hebrew';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansHebrew-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Hebrew';
	font-feature-settings: 'ss02';
	font-weight: 600; /* SemiBold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansHebrew-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Hebrew';
	font-feature-settings: 'ss02';
	font-weight: 450; /* Text */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansHebrew-Text.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Hebrew';
	font-feature-settings: 'ss02';
	font-weight: 100; /* Thin */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansHebrew-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans JP';
	font-feature-settings: 'ss02';
	font-weight: 700; /* Bold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansJP-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans JP';
	font-feature-settings: 'ss02';
	font-weight: 200; /* ExtraLight */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansJP-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans JP';
	font-feature-settings: 'ss02';
	font-weight: 300; /* Light */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansJP-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans JP';
	font-feature-settings: 'ss02';
	font-weight: 500; /* Medium */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansJP-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans JP';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansJP-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans JP';
	font-feature-settings: 'ss02';
	font-weight: 600; /* SemiBold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansJP-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans JP';
	font-feature-settings: 'ss02';
	font-weight: 450; /* Text */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansJP-Text.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans JP';
	font-feature-settings: 'ss02';
	font-weight: 100; /* Thin */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansJP-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans SC';
	font-feature-settings: 'ss02';
	font-weight: 700; /* Bold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansSC-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans SC';
	font-feature-settings: 'ss02';
	font-weight: 200; /* ExtraLight */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansSC-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans SC';
	font-feature-settings: 'ss02';
	font-weight: 300; /* Light */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansSC-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans SC';
	font-feature-settings: 'ss02';
	font-weight: 500; /* Medium */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansSC-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans SC';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansSC-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans SC';
	font-feature-settings: 'ss02';
	font-weight: 600; /* SemiBold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansSC-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans SC';
	font-feature-settings: 'ss02';
	font-weight: 450; /* Text */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansSC-Text.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans SC';
	font-feature-settings: 'ss02';
	font-weight: 100; /* Thin */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansSC-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans TC';
	font-feature-settings: 'ss02';
	font-weight: 700; /* Bold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansTC-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans TC';
	font-feature-settings: 'ss02';
	font-weight: 200; /* ExtraLight */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansTC-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans TC';
	font-feature-settings: 'ss02';
	font-weight: 300; /* Light */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansTC-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans TC';
	font-feature-settings: 'ss02';
	font-weight: 500; /* Medium */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansTC-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans TC';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansTC-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans TC';
	font-feature-settings: 'ss02';
	font-weight: 600; /* SemiBold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansTC-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans TC';
	font-feature-settings: 'ss02';
	font-weight: 450; /* Text */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansTC-Text.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans TC';
	font-feature-settings: 'ss02';
	font-weight: 100; /* Thin */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansTC-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-feature-settings: 'ss02';
	font-weight: 700; /* Bold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansThai-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-feature-settings: 'ss02';
	font-weight: 200; /* ExtraLight */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansThai-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-feature-settings: 'ss02';
	font-weight: 300; /* Light */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansThai-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-feature-settings: 'ss02';
	font-weight: 500; /* Medium */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansThai-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansThai-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-feature-settings: 'ss02';
	font-weight: 600; /* SemiBold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansThai-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-feature-settings: 'ss02';
	font-weight: 450; /* Text */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansThai-Text.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-feature-settings: 'ss02';
	font-weight: 100; /* Thin */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexSansThai-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss02';
	font-weight: 700; /* Bold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss01';
	font-weight: 700; /* Bold Italic */
	font-style: italic;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss02';
	font-weight: 200; /* ExtraLight */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss01';
	font-weight: 200; /* ExtraLight Italic */
	font-style: italic;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss02';
	font-weight: 300; /* Light */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss01';
	font-weight: 300; /* Light Italic */
	font-style: italic;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss01';
	font-weight: 400; /* Regular Italic */
	font-style: italic;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss02';
	font-weight: 450; /* Text */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-Text.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss01';
	font-weight: 450; /* Text Italic */
	font-style: italic;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-TextItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss02';
	font-weight: 500; /* Medium */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss01';
	font-weight: 500; /* Medium Italic */
	font-style: italic;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss02';
	font-weight: 600; /* SemiBold */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss01';
	font-weight: 600; /* SemiBold Italic */
	font-style: italic;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss02';
	font-weight: 100; /* Thin */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-feature-settings: 'ss01';
	font-weight: 100; /* Thin Italic */
	font-style: italic;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMono-ThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Math';
	font-feature-settings: 'ss02';
	font-weight: 400; /* Regular */
	font-style: normal;

	font-display: swap;
	src: url('../static/fonts/IBMPlexMath.woff2') format('woff2');
}

html {
	font-family: 'IBM Plex Sans fallback';
	font-variant-numeric: slashed-zero;
}

/* Default and Latin/Greek/Cyrillic script languages */
html[lang^='en'], /* English */
html[lang^='af'], /* Afrikaans */
html[lang^='az'], /* Azerbaijani (Latin) */
html[lang^='be'], /* Belarusian (Cyrillic) */
html[lang^='bg'], /* Bulgarian (Cyrillic) */
html[lang^='cs'], /* Czech (Latin) */
html[lang^='da'], /* Danish (Latin) */
html[lang^='de'], /* German (Latin) */
html[lang^='el'], /* Greek (Greek) */
html[lang^='es'], /* Spanish (Latin) */
html[lang^='et'], /* Estonian (Latin) */
html[lang^='fi'], /* Finnish (Latin) */
html[lang^='fr'], /* French (Latin) */
html[lang^='fil'],/* Filipino (Latin) */
html[lang^='ha'], /* Hausa (Latin default) */
html[lang^='hr'], /* Croatian (Latin) */
html[lang^='hu'], /* Hungarian (Latin) */
html[lang^='id'], /* Indonesian (Latin) */
html[lang^='ig'], /* Igbo (Latin) */
html[lang^='it'], /* Italian (Latin) */
html[lang^='jv'], /* Javanese (Latin assumed) */
html[lang^='kk'], /* Kazakh (Cyrillic/Latin default) */
html[lang^='ku'], /* Kurdish (Latin - Kurmanji default) */
html[lang^='lt'], /* Lithuanian (Latin) */
html[lang^='lv'], /* Latvian (Latin) */
html[lang^='ms'], /* Malay (Latin) */
html[lang^='mk'], /* Macedonian (Cyrillic) */
html[lang^='nl'], /* Dutch (Latin) */
html[lang^='no'], /* Norwegian (Latin) */
html[lang^='om'], /* Oromo (Latin) */
html[lang^='pl'], /* Polish (Latin) */
html[lang^='pt'], /* Portuguese (Latin) */
html[lang^='ro'], /* Romanian (Latin) */
html[lang^='ru'], /* Russian (Cyrillic) */
html[lang^='sk'], /* Slovak (Latin) */
html[lang^='sl'], /* Slovenian (Latin) */
html[lang^='so'], /* Somali (Latin) */
html[lang^='sr'], /* Serbian (Covers Latin & Cyrillic) */
html[lang^='sv'], /* Swedish (Latin) */
html[lang^='sw'], /* Swahili (Latin) */
html[lang^='tg'], /* Tajik (Cyrillic default) */
html[lang^='tl'], /* Tagalog (Latin) */
html[lang^='tr'], /* Turkish (Latin) */
html[lang^='uk'], /* Ukrainian (Cyrillic) */
html[lang^='uz'], /* Uzbek (Latin default) */
html[lang^='vi'], /* Vietnamese (Latin) */
html[lang^='yo']  /* Yoruba (Latin) */ {
	font-family:
		'IBM Plex Sans', 'IBM Plex Sans KR', 'IBM Plex Sans Arabic', 'IBM Plex Sans Thai',
		'IBM Plex Sans Hebrew', 'IBM Plex Sans Devanagari', 'IBM Plex Sans TC', 'IBM Plex Sans JP',
		'IBM Plex Sans SC', 'IBM Plex Sans fallback';
}

/* Arabic script languages */
html[lang^='ar'], /* Arabic */
html[lang='az-Arab'], /* Azerbaijani (Arabic script) */
html[lang^='fa'], /* Persian */
html[lang='kk-Arab'], /* Kazakh (Arabic script) */
html[lang='ku-Arab'], /* Kurdish (Arabic script - Sorani) */
html[lang^='prs'],/* Dari */
html[lang^='ps'], /* Pashto */
html[lang^='sd'], /* Sindhi (Arabic script default) */
html[lang='sd-Arab'], /* Sindhi (Arabic script explicit) */
html[lang^='ur']  /* Urdu */ {
	font-family:
		'IBM Plex Sans Arabic', 'IBM Plex Sans', 'IBM Plex Sans KR', 'IBM Plex Sans Thai',
		'IBM Plex Sans Hebrew', 'IBM Plex Sans Devanagari', 'IBM Plex Sans TC', 'IBM Plex Sans JP',
		'IBM Plex Sans SC', 'IBM Plex Sans fallback';
}

/* Chinese Simplified */
html[lang^='zh'], /* General Chinese, defaults to Simplified */
html[lang^='zh-Hans'],
html[lang='zh-CN'],
html[lang='zh-SG'] {
	font-family:
		'IBM Plex Sans SC', 'IBM Plex Sans TC', 'IBM Plex Sans', 'IBM Plex Sans KR',
		'IBM Plex Sans Arabic', 'IBM Plex Sans Thai', 'IBM Plex Sans Hebrew',
		'IBM Plex Sans Devanagari', 'IBM Plex Sans JP', 'IBM Plex Sans fallback';
}

/* Chinese Traditional */
html[lang^='zh-Hant'], /* Generic Traditional script tag */
html[lang='zh-TW'],
html[lang='zh-HK'],
html[lang='zh-MO'],
html[lang='zh-tw'], /* (lowercase variant from original) */
html[lang='zh-hk'], /* (lowercase variant from original) */
html[lang='zh-tTW'] /* (non-standard, from original) */ {
	font-family:
		'IBM Plex Sans TC', 'IBM Plex Sans SC', 'IBM Plex Sans', 'IBM Plex Sans KR',
		'IBM Plex Sans Arabic', 'IBM Plex Sans Thai', 'IBM Plex Sans Hebrew',
		'IBM Plex Sans Devanagari', 'IBM Plex Sans JP', 'IBM Plex Sans fallback';
}

/* Japanese */
html[lang^='ja'] {
	font-family:
		'IBM Plex Sans JP', 'IBM Plex Sans', 'IBM Plex Sans KR', 'IBM Plex Sans Arabic',
		'IBM Plex Sans Thai', 'IBM Plex Sans Hebrew', 'IBM Plex Sans Devanagari', 'IBM Plex Sans TC',
		'IBM Plex Sans SC', 'IBM Plex Sans fallback';
}

/* Korean */
html[lang^='ko'] {
	font-family:
		'IBM Plex Sans KR', 'IBM Plex Sans', 'IBM Plex Sans Arabic', 'IBM Plex Sans Thai',
		'IBM Plex Sans Hebrew', 'IBM Plex Sans Devanagari', 'IBM Plex Sans TC', 'IBM Plex Sans JP',
		'IBM Plex Sans SC', 'IBM Plex Sans fallback';
}

/* Hebrew */
html[lang^='he'] {
	font-family:
		'IBM Plex Sans Hebrew', 'IBM Plex Sans', 'IBM Plex Sans KR', 'IBM Plex Sans Arabic',
		'IBM Plex Sans Thai', 'IBM Plex Sans Devanagari', 'IBM Plex Sans TC', 'IBM Plex Sans JP',
		'IBM Plex Sans SC', 'IBM Plex Sans fallback';
}

/* Devanagari script languages */
html[lang^='hi'], /* Hindi */
html[lang^='mr'], /* Marathi */
html[lang^='ne'], /* Nepali */
html[lang^='sa'], /* Sanskrit (from original CSS example) */
html[lang='sd-Deva'] /* Sindhi (Devanagari script) */ {
	font-family:
		'IBM Plex Sans Devanagari', 'IBM Plex Sans', 'IBM Plex Sans KR', 'IBM Plex Sans Arabic',
		'IBM Plex Sans Thai', 'IBM Plex Sans Hebrew', 'IBM Plex Sans TC', 'IBM Plex Sans JP',
		'IBM Plex Sans SC', 'IBM Plex Sans fallback';
}

/* Thai */
html[lang^='th'] {
	font-family:
		'IBM Plex Sans Thai', 'IBM Plex Sans', 'IBM Plex Sans KR', 'IBM Plex Sans Arabic',
		'IBM Plex Sans Devanagari', 'IBM Plex Sans TC', 'IBM Plex Sans JP', 'IBM Plex Sans SC',
		'IBM Plex Sans fallback';
}

/* 문자 기반 지정. 우선순위 더 높게 뒤에 위치 */
html[lang$='Latn'],
html[lang$='Cyrl'] {
	font-family:
		'IBM Plex Sans', 'IBM Plex Sans KR', 'IBM Plex Sans Arabic', 'IBM Plex Sans Thai',
		'IBM Plex Sans Hebrew', 'IBM Plex Sans Devanagari', 'IBM Plex Sans TC', 'IBM Plex Sans JP',
		'IBM Plex Sans SC', 'IBM Plex Sans fallback';
}

html[lang$='Arab'] {
	font-family:
		'IBM Plex Sans Arabic', 'IBM Plex Sans', 'IBM Plex Sans KR', 'IBM Plex Sans Thai',
		'IBM Plex Sans Hebrew', 'IBM Plex Sans Devanagari', 'IBM Plex Sans TC', 'IBM Plex Sans JP',
		'IBM Plex Sans SC', 'IBM Plex Sans fallback';
}

html[lang$='Deva'] {
	font-family:
		'IBM Plex Sans Devanagari', 'IBM Plex Sans', 'IBM Plex Sans KR', 'IBM Plex Sans Arabic',
		'IBM Plex Sans Thai', 'IBM Plex Sans Hebrew', 'IBM Plex Sans TC', 'IBM Plex Sans JP',
		'IBM Plex Sans SC', 'IBM Plex Sans fallback';
}

code,
kbd,
samp,
pre {
	font-family:
		'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
}
