@font-face {
	font-family: 'IBM Plex Sans';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url('@repo/base/assets/fonts/IBMPlexSansVar-Roman.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url('@repo/base/assets/fonts/IBMPlexSansVar-Italic.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('@repo/base/assets/fonts/kr/IBMPlexSansKR-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url('@repo/base/assets/fonts/kr/IBMPlexSansKR-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('@repo/base/assets/fonts/kr/IBMPlexSansKR-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('@repo/base/assets/fonts/kr/IBMPlexSansKR-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('@repo/base/assets/fonts/kr/IBMPlexSansKR-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('@repo/base/assets/fonts/kr/IBMPlexSansKR-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans KR';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('@repo/base/assets/fonts/kr/IBMPlexSansKR-Text.woff2') format('woff2');
}

@font-face {
	/* 다국어 폰트에는 italic이 없어서, 만약 라틴 알파벳의 italic이 적용되면 뒤의 fallback font에서 italic이 적용되도록 뒤에 추가함. 안그러면 italic을 synthetic하게 만들거고 그걸 방지하기 위해서임. */
	font-family: 'IBM Plex Sans KR';
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url('@repo/base/assets/fonts/IBMPlexSansVar-Italic.woff2') format('woff2-variations');
}

:root {
	font-family: 'IBM Plex Sans';
	font-feature-settings: 'ss02', 'ss03';
	text-size-adjust: 100%;
	color-scheme: light dark;
}

html[lang='ko'] {
	font-family: 'IBM Plex Sans KR';
}
