@import url('tailwindcss');
@import url('tw-animate-css');

@import url('./shadcn-svelte.css');
@import url('./daisyUI.css');

@source '../../../apps/*/src/**/*.{html,js,ts,svelte,mdx}';
@source '../../../libraries/*/src/**/*.{html,js,ts,svelte,mdx}';
@source '../../../tools/storybook/src/**/*.{html,js,ts,svelte,mdx}';

@theme inline {
	/* Radius (for rounded-*) */
	--radius-sm: var(--radius-1);
	--radius-md: var(--radius-2);
	--radius-lg: var(--radius-3);
	--radius-xl: var(--radius-4);

	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-ring: var(--ring);
	--color-radius: var(--radius);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@layer base {
	* {
		border-color: var(--color-border);
	}

	body {
		color: var(--color-foreground);
		background-color: var(--color-background);
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--gray-2, currentColor);
	}
}
