@import url('tailwindcss');
@import url('./daisyUI.css');

@plugin 'tailwindcss-animate';

@source '../../../apps/*/src/**/*.{html,js,ts,svelte,mdx}';
@source '../../../libraries/*/src/**/*.{html,js,ts,svelte,mdx}';
@source '../../../storybook/src/**/*.{html,js,ts,svelte,mdx}';

:root {
	--radius: var(--radius-2);
	--text-sm: var(--font-size-fluid-em-cqi-0);
}

/* Shadcn variables 덮어쓰기 Or 확장 */
:root {
	--background: hsl(0deg 0% 100%); /* white */
	--foreground: hsl(210deg 40% 2%); /* gray-12 */
	--muted: hsl(210deg 16.7% 95.3%); /* gray-1 */
	--muted-foreground: hsl(210 7.1% 55.7%); /* gray-6 */
	--popover: hsl(0deg 0% 100%); /* white */
	--popover-foreground: hsl(210deg 40% 2%); /* gray-12 */
	--card: hsl(0deg 0% 100%); /* white */
	--card-foreground: hsl(210deg 40% 2%); /* gray-12 */
	--border: hsl(210 7.1% 55.7%); /* gray-6 */
	--input: hsl(223deg 100% 96.5%); /* indigo-0 */
	--primary: hsl(214deg 13.7% 10%); /* gray-10 */
	--primary-foreground: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--primary-content: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--secondary: hsl(210deg 16.7% 95.3%); /* gray-1 */
	--secondary-foreground: hsl(214deg 13.7% 10%); /* gray-10 */
	--secondary-content: hsl(214deg 13.7% 10%); /* gray-10 */
	--accent: var(--gray-4);
	--accent-foreground: var(--gray-10);
	--accent-content: var(--gray-10);
	--destructive: hsl(0deg 73.8% 53.5%); /* red-8 */
	--destructive-foreground: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--destructive-content: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--ring: hsl(210deg 40% 2%); /* gray-12 */
	--sidebar-background: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--sidebar-foreground: hsl(210deg 10.3% 22.7%); /* gray-8 */
	--sidebar-primary: hsl(214deg 13.7% 10%); /* gray-10 */
	--sidebar-primary-foreground: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--sidebar-primary-content: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--sidebar-accent: hsl(210deg 16.7% 95.3%); /* gray-1 */
	--sidebar-accent-foreground: hsl(214deg 13.7% 10%); /* gray-10 */
	--sidebar-accent-content: hsl(214deg 13.7% 10%); /* gray-10 */
	--sidebar-border: hsl(210deg 16.7% 95.3%); /* gray-1 */
	--sidebar-ring: hsl(228deg 80.9% 59%); /* indigo-7 */
}

.dark {
	--background: hsl(210deg 40% 2%); /* gray-12 */
	--foreground: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--muted: hsl(210deg 10.3% 22.7%); /* gray-8 */
	--muted-foreground: hsl(228deg 100% 78.4%); /* indigo-3 */
	--popover: hsl(210deg 40% 2%); /* gray-12 */
	--popover-foreground: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--card: hsl(210deg 40% 2%); /* gray-12 */
	--card-foreground: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--border: hsl(210deg 10.3% 22.7%); /* gray-8 */
	--input: hsl(210deg 10.3% 22.7%); /* gray-8 */
	--primary: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--primary-foreground: hsl(214deg 13.7% 10%); /* gray-10 */
	--primary-content: hsl(214deg 13.7% 10%); /* gray-10 */
	--secondary: hsl(210deg 10.3% 22.7%); /* gray-8 */
	--secondary-foreground: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--secondary-content: hsl(210deg 16.7% 97.6%); /* gray-0 */
	/* --accent: hsl(228deg 80.9% 59%); indigo-7
	--accent-foreground: hsl(210deg 16.7% 97.6%); gray-0
	--accent-content: hsl(210deg 16.7% 97.6%); gray-0 */
	--destructive: hsl(0deg 65.6% 29.6%); /* red-12 */
	--destructive-foreground: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--destructive-content: hsl(210deg 16.7% 97.6%); /* gray-0 */
	--ring: hsl(210deg 14% 83.1%); /* gray-4 */
	--sidebar-background: hsl(214deg 13.7% 10%); /* gray-10 */
	--sidebar-foreground: hsl(210deg 16.7% 95.3%); /* gray-1 */
	--sidebar-primary: hsl(230deg 57.3% 49.6%); /* indigo-9 */
	--sidebar-primary-foreground: hsl(0deg 0%) 100%; /* white */
	--sidebar-primary-content: hsl(0deg 0%) 100%; /* white */
	--sidebar-accent: hsl(210deg 10.8% 14.5%); /* gray-9 */
	--sidebar-accent-foreground: hsl(210deg 16.7% 95.3%); /* gray-1 */
	--sidebar-accent-content: hsl(210deg 16.7% 95.3%); /* gray-1 */
	--sidebar-border: hsl(210deg 10.8% 14.5%); /* gray-9 */
	--sidebar-ring: hsl(228deg 80.9% 59%); /* indigo-7 */
}

@theme {
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary-content: var(--primary-content);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary-content: var(--secondary-content);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive-content: var(--destructive-content);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent-content: var(--accent-content);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground) / <alpha-value>;
	/* stylelint-disable-next-line custom-property-pattern */
	--color-sidebar-DEFAULT: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary-content: var(--sidebar-primary-content);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent-content: var(--sidebar-accent-content);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--radius-xl: var(--radius-4);
	--radius-lg: var(--radius-3);
	--radius-md: var(--radius-2);
	--radius-sm: var(--radius-1);
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	@keyframes accordion-down {
		from {
			block-size: 0;
		}

		to {
			block-size: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			block-size: var(--bits-accordion-content-height);
		}

		to {
			block-size: 0;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}

		20%,
		50% {
			opacity: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@layer base {
	* {
		/* stylelint-disable-next-line at-rule-no-deprecated */
		@apply border-border;
	}

	body {
		/* stylelint-disable-next-line at-rule-no-deprecated */
		@apply bg-background text-foreground;
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--gray-2, currentColor);
	}
}