@import url('sanitize.css');
@import url('sanitize.css/forms.css');
@import url('sanitize.css/typography.css');
@import url('sanitize.css/assets.css');
@import url('sanitize.css/reduce-motion.css');
@import url('open-props/postcss/normalize');
@import url('open-props/postcss/buttons');
@import url('./baseVariables.css');
@import url('./baseClasses.css');

:root {
	color-scheme: light dark;
}

*,
*::before,
*::after {
	overscroll-behavior: contain;

	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: var(--font-lineheight-3);
	hyphens: auto;
	text-wrap: stable;
	word-break: keep-all;
	line-break: strict;
	overflow-wrap: break-word;
}

html,
body,
div,
header,
nav,
main,
footer {
	max-inline-size: none;
}

div {
	overflow: auto;
	color: inherit;
	outline: var(--size-1) solid transparent;
	outline-offset: calc(-1 * var(--size-1));
}

p {
	max-inline-size: var(--size-content-4);
}

img {
	max-inline-size: 100%;
	object-fit: cover;
}

a {
	hyphens: none;
	overflow-wrap: anywhere;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

[id] {
	scroll-margin-block-start: var(--font-size-5);
}

button:focus {
	outline: max(1px, 0.1em) dashed currentcolor;
	outline-offset: var(--size-1);
}

/* Scrollbar */

*,
*::after,
*::before {
	/* stylelint-disable-next-line declaration-property-value-no-unknown */
	scrollbar-color: auto transparent;
	scrollbar-gutter: stable both-edges;
}

::-webkit-scrollbar-track {
	background: transparent; /* 스크롤바 뒷 배경 색상 */
}

@container (max-width: 30ch) {
	::-webkit-scrollbar-button:horizontal {
		display: none;
	}
}

@container (max-height: 30ch) {
	::-webkit-scrollbar-button:vertical {
		display: none;
	}
}

@container (max-width: 20ch) {
	* {
		scrollbar-width: thin;
	}

	::-webkit-scrollbar {
		/* stylelint-disable-next-line */
		width: calc(1ch + 10cqw);
	}
}

@container (max-height: 20ch) {
	* {
		scrollbar-width: thin;
	}

	::-webkit-scrollbar {
		/* stylelint-disable-next-line */
		height: calc(1ch + 10cqh);
	}
}
