/*
Notdone: 이거 postcss.config.js에서 사용한 postcss-jit-props가 있어서 생략해도 되는 건지 아닌지 체크해야함
@import url("open-props/postcss/style");
*/

/* Notdone: 여기서 postcss 사용되는 거 맞음? Vite에서는 자동 사용이라고 들었는데 / 만약 아니라면 여기에 따로 postcss 설치해야하나? */
@import url("open-props/postcss/normalize");
@import url("open-props/postcss/buttons");

:root {
	color-scheme: light dark;
}

*,
*::before,
*::after {
	scrollbar-gutter: stable both-edges;

	overscroll-behavior: contain;

	box-sizing: border-box;
	max-inline-size: 80ch;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	hyphens: auto;
	text-wrap: stable;
	word-break: keep-all;
	line-break: strict;
	overflow-wrap: break-word;
}

html,
body,
div,
header,
nav,
main,
footer {
	max-inline-size: none;
}

img {
	max-inline-size: 100%;
	object-fit: cover;
}

a {
	hyphens: none;
	overflow-wrap: anywhere;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-inline: auto;
	text-wrap: balance;
}

[id] {
	scroll-margin-block-start: 2rem;
}

button:focus {
	outline: max(1px, 0.1em) dashed currentcolor;
	outline-offset: 0.25em;
}

/* Remove all animations and transitions
for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		scroll-behavior: auto !important;

		transition: none !important;
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
	}
}
