@import url('sanitize.css');
@import url('sanitize.css/forms.css');
@import url('sanitize.css/typography.css');
@import url('sanitize.css/assets.css');
@import url('sanitize.css/reduce-motion.css');
@import url('open-props/postcss/normalize');
@import url('open-props/postcss/buttons');
@import url('./baseVariables.css');
@import url('./baseClasses.css');
/* open-props의 variable들은 postcss 설정 파일에서 동적으로 가져옴 */

:root {
	color-scheme: light dark;
}

*,
*::before,
*::after {
	overscroll-behavior: contain;

	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: var(--font-lineheight-3);
	hyphens: auto;
	text-wrap: stable;
	word-break: keep-all;
	line-break: strict;
	overflow-wrap: break-word;
}

/*
html,
body,
div,
header,
nav,
main,
footer {
	max-inline-size: none;
} */

div {
	overflow: auto;
	color: inherit;
	outline: var(--size-1) solid transparent;
	outline-offset: calc(-1 * var(--size-1));
}

p {
	max-inline-size: var(--size-content-4);
}

img {
	max-inline-size: 100%;
	object-fit: cover;
}

a {
	hyphens: none;
	overflow-wrap: anywhere;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

[id] {
	scroll-margin-block-start: var(--font-size-5);
}

button:focus {
	outline: max(1px, 0.1em) dashed currentcolor;
	outline-offset: var(--size-1);
}

/* Scrollbar */

*,
*::after,
*::before {
	/* stylelint-disable-next-line declaration-property-value-no-unknown */
	scrollbar-color: auto transparent;
	scrollbar-gutter: stable both-edges;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

@container (max-width: 30ch) {
	::-webkit-scrollbar-button:horizontal {
		display: none;
	}
}

@container (max-height: 30ex) {
	::-webkit-scrollbar-button:vertical {
		display: none;
	}
}

@media only screen and (hover: hover) and (pointer: fine) {
	/* 마우스와 같은 정밀 포인터가 있는 장치에 적용될 스타일 */

	@container (max-width: 20ch) {
		* {
			scrollbar-width: thin;
		}

		::-webkit-scrollbar {
			/* stylelint-disable-next-line */
			width: 1ch;
			/* stylelint-disable-next-line */
			width: calc(1ch + 5cqw);
		}
	}

	@container (max-height: 20ex) {
		* {
			scrollbar-width: thin;
		}

		::-webkit-scrollbar {
			/* stylelint-disable-next-line */
			height: 1ex;
			/* stylelint-disable-next-line */
			height: calc(1ex + 5cqh);
		}
	}
}
