@tailwind components;
@tailwind utilities;

:root {
	--radius: var(--radius-3);
}

:root {
	--background: 0deg 0% 100%; /* white */
	--foreground: 210deg 40% 2%; /* gray-12 */
	--muted: 210deg 16.7% 95.3%; /* gray-1 */
	--muted-foreground: 228deg 100% 86.5%; /* indigo-2 */
	--popover: 0deg 0% 100%; /* white */
	--popover-foreground: 210deg 40% 2%; /* gray-12 */
	--card: 0deg 0% 100%; /* white */
	--card-foreground: 210deg 40% 2%; /* gray-12 */
	--border: 223deg 100% 96.5%; /* indigo-0 */
	--input: 223deg 100% 96.5%; /* indigo-0 */
	--primary: 214deg 13.7% 10%; /* gray-10 */
	--primary-foreground: 210deg 16.7% 97.6%; /* gray-0 */
	--secondary: 210deg 16.7% 95.3%; /* gray-1 */
	--secondary-foreground: 214deg 13.7% 10%; /* gray-10 */
	--accent: 210deg 16.7% 95.3%; /* gray-1 */
	--accent-foreground: 214deg 13.7% 10%; /* gray-10 */
	--destructive: 0deg 73.8% 53.5%; /* red-8 */
	--destructive-foreground: 210deg 16.7% 97.6%; /* gray-0 */
	--ring: 210deg 40% 2%; /* gray-12 */
	--sidebar-background: 210deg 16.7% 97.6%; /* gray-0 */
	--sidebar-foreground: 210deg 10.3% 22.7%; /* gray-8 */
	--sidebar-primary: 214deg 13.7% 10%; /* gray-10 */
	--sidebar-primary-foreground: 210deg 16.7% 97.6%; /* gray-0 */
	--sidebar-accent: 210deg 16.7% 95.3%; /* gray-1 */
	--sidebar-accent-foreground: 214deg 13.7% 10%; /* gray-10 */
	--sidebar-border: 210deg 16.7% 95.3%; /* gray-1 */
	--sidebar-ring: 228deg 80.9% 59%; /* indigo-7 */
}

.dark {
	--background: 210deg 40% 2%; /* gray-12 */
	--foreground: 210deg 16.7% 97.6%; /* gray-0 */
	--muted: 210deg 10.3% 22.7%; /* gray-8 */
	--muted-foreground: 228deg 100% 78.4%; /* indigo-3 */
	--popover: 210deg 40% 2%; /* gray-12 */
	--popover-foreground: 210deg 16.7% 97.6%; /* gray-0 */
	--card: 210deg 40% 2%; /* gray-12 */
	--card-foreground: 210deg 16.7% 97.6%; /* gray-0 */
	--border: 210deg 10.3% 22.7%; /* gray-8 */
	--input: 210deg 10.3% 22.7%; /* gray-8 */
	--primary: 210deg 16.7% 97.6%; /* gray-0 */
	--primary-foreground: 214deg 13.7% 10%; /* gray-10 */
	--secondary: 210deg 10.3% 22.7%; /* gray-8 */
	--secondary-foreground: 210deg 16.7% 97.6%; /* gray-0 */
	--accent: 210deg 10.3% 22.7%; /* gray-8 */
	--accent-foreground: 210deg 16.7% 97.6%; /* gray-0 */
	--destructive: 0deg 65.6% 29.6%; /* red-12 */
	--destructive-foreground: 210deg 16.7% 97.6%; /* gray-0 */
	--ring: 210deg 14% 83.1%; /* gray-4 */
	--sidebar-background: 214deg 13.7% 10%; /* gray-10 */
	--sidebar-foreground: 210deg 16.7% 95.3%; /* gray-1 */
	--sidebar-primary: 230deg 57.3% 49.6%; /* indigo-9 */
	--sidebar-primary-foreground: 0deg 0% 100%; /* white */
	--sidebar-accent: 210deg 10.8% 14.5%; /* gray-9 */
	--sidebar-accent-foreground: 210deg 16.7% 95.3%; /* gray-1 */
	--sidebar-border: 210deg 10.8% 14.5%; /* gray-9 */
	--sidebar-ring: 228deg 80.9% 59%; /* indigo-7 */
}

* {
	@apply border-border;
}

body {
	@apply bg-background text-foreground;
}
