node_modules

# Output
.output
.vercel
/.svelte-kit/cloudflare
/.svelte-kit/cloudflare-tmp
/.svelte-kit/generated
/.svelte-kit/output
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*storybook.log

# Paraglide
src/lib/paraglide
